/.vscode


    # <div class="hero">
    #     <div class="container">
    #     <img src="./images/crown.png" alt="karuna">
    #     <h1>Coming Soon</h1>
    #     <p>An awesome new company for web resources is coming very soon. Enter your email to request an early invitation!</p>
    #     <div class="counts"></div>
    #     <label for="email"></label>
    #     <input class="hemail" type="email" name="email" placeholder="Type your email">
    #     <div class="buttom">Subscribe Now</div>
    #     <div class="mouse"></div>
    #     </div>
    # </div>
    # <main>
    #     <div class="left">
    #         <h3>About startup</h3>
    #         <p class="pleft">Matrox material design multi-purpose html template. It comes with huge content and background variants. Matrox is coming very soon. We are nearly there.</p>
    #         <div class="pirmas">
    #             <div class="w3-container w3-blue w3-round" style="width:25%">25%</div>
    #           </div><br>
            
    #           <div class="antras">
    #             <div class="w3-container w3-blue w3-round-large" style="width:25%">25%</div>
    #           </div><br>
            
    #           <div class="trecias">
    #             <div class="w3-container w3-blue w3-round-xlarge" style="width:25%">25%</div>
    #     </div>
    #     <div class="right">
    #         <h3>Have any question?</h3>
    #         <p class="pright">You can use contact form below or contact us via e-mail at trendythemenet@gmail.com Contact form is fully working and very easyto customize.</p>
    #         <form>
    #             <label for="name"></label>
    #             <input class="name" type="text" name="name" placeholder="Name">
    #             <label for="email"></label>
    #             <input class="email" type="email" name="email" placeholder="Email">
    #             <label for="msg"></label>
    #             <textarea class="msg" name="msg" id="" cols="30" rows="10"  placeholder="Message"></textarea>
    #         </form>
    #         <div class="buttom2">Send Message</div>
    #         <div class="buttom3"></div>
    #     </div>
    # </main>
    # <footer>
    #     <div class="container">
    #         <div class="icon1"></div>
    #         <div class="icon2"></div>
    #         <div class="icon3"></div>
    #         <div class="icon4"></div>
    #         <div class="icon5"></div>
    #         <div class="icon6"></div>
    #         <div class="icon7"></div>
    #     <hr>
    #     <div class="logo"></div>
    #     <div class="copyright"> Copyright © 2019 Matrox | All Rights Reserved | Designed By Deividas </div>
    #     <div class="ftext"> Matrox pack includes complete websites not just homepages, it comes with full website demos. Over 200+ ready html files only for 17$. Purchase Matrox Now!</div>
    #     </div>
    # </footer>